server:
  port: 8764
spring:
  application:
    name: service-zuul
  redis:
    database: 0
    host: localhost
    port: 6379
    password:
    timeout: 20000

myeureka:
  server:
    localhost
  port:
    8761

eureka:
  instance:
    preferIpAddress: true
    instance-id: ${spring.cloud.client.ip-address}:${server.port}
  client:
    serviceUrl:
      defaultZone: http://${myeureka.server}:${myeureka.port}/eureka/
    register-with-eureka: true
    fetch-registry: true


zuul:
  routes:
    cunsumer:
      serviceId: cunsumer
      path: /zhuchaoyang/**
    login:
      serviceId: login
      path: /login/**

  ratelimit:
    enabled: true
    repository: IN_MEMORY
    policies:
      cunsumer:
        limit: 100
        quota: 2
        refresh-interval: 60
        type:
        - ORIGIN